/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 一樣效果的東東 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.wrap {
    margin: 0 auto;
    max-width: 1920px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.title h1 {
    display: inline;
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
    margin-right: 16px;
    color: #3b3b3b;
}

.title img {
    display: inline-block;
    vertical-align: middle;
}

/* price 價格表 */
.price {
    padding-bottom: 80px;
}

.price-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* 換行 */
}

.price-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    box-shadow: #f0f0f0 0px 5px 15px;
    margin: 10px;
    padding: 20px;
}

.price-list-item img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.price-list-item p {
    display: inline;
    font-size: 20px;
    color: #5b5b5b;
}

.price-list-item .strong {
    font-weight: bold;
    color: #1e1e1e;
}

.price-list-item .up {
    font-size: 12px;
    color: #5b5b5b;
}

/* sample */
.sample {
    background: #fafafa;
}

.sample-list {
    display: flex;
    flex-wrap: wrap;
    /* 換行 */
    justify-content: space-between;
    width: 1296px;
    max-width: 100%;
    margin: 0 auto;
}

.sample-list-item {
    margin-bottom: 20px;
}

.sample-list-item img {
    max-width: 100%;
    border-radius: 10px;
}

.sample-list-item .content {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sample-list-item h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin-bottom: 8px;
    color: #5b5b5b;
}

.sample-list-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #989898;
}

.sample-list-item .tag {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sample-list-item .tag li {
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px;
    color: #3b3b3b;
    background: #f1f1f1;
    text-decoration: none;
}

/* RWD */
@media (max-width: 768px) {
    .price-list-item {
        width: 95%;
        max-width: 100%;
        margin: 5px auto;
    }

    .sample-list-item {
        width: 95%;
        max-width: 100%;
        margin: 10px auto;
    }

    .title {
        flex-direction: row;
        text-align: center;
    }

    .title h1 {
        margin: 10px 10px;
    }
}