/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    color: #3B3B3B;
}

.serviceProcess {
    color: #fff;
    background: linear-gradient(135deg, #000 0%, #000 50%, #1E1E1E 50%, #1E1E1E 100%);
    padding-bottom: 5%;
}

.sopList {
    text-align: center
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding-top: 9%;
    padding-bottom: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sopList li {
    display: flex;
    align-items: center;
    background-color: #3B3B3B;
    border: 1px solid #919191;
    border-radius: 4px;
    padding: 1rem 10px;
    padding-left: 0;
    width: 655px;
}

.titleBox {
    font-family: "Noto Sans", sans-serif;
    font-size: 28px;
    width: 112px;
}

.sopList li p {
    margin: 0;
    color: #E9E9E9;
}

.sopList li span {
    font-family: "Tourney", sans-serif;
    font-size: 4.5rem;
    padding: 0 3rem;
    color: #919191;
}

.txt {
    padding: 8px;
    text-align: justify;
}

.material-symbols-outlined {
    color: #666666;
}